<p class="center-block">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate rutrum felis ut faucibus.
    In lorem eros, mollis eget suscipit ac, consequat non odio. Pellentesque viverra ante lacus, sit amet molestie enim laoreet quis.
    Vivamus eu turpis nec tortor rutrum tincidunt pretium id augue. Pellentesque iaculis quis diam quis sollicitudin.
    Nulla mi enim, porttitor et neque tempor, volutpat laoreet neque. Sed justo justo, pellentesque id condimentum nec, bibendum at orci.
    Curabitur tempus arcu at est porta, ut sollicitudin lectus pulvinar.

    Sed pharetra gravida risus, non sodales diam aliquet ut. Ut odio nunc, interdum a mattis sit amet, rhoncus at diam.
    Duis in tellus porttitor libero tempor accumsan. Suspendisse ultrices venenatis orci non tincidunt. Proin ut dui ligula.
    Nullam luctus congue quam, in ultrices tellus rhoncus luctus. Vivamus a diam at dolor pretium accumsan ac sed nibh.
    Vestibulum sed imperdiet risus, id maximus felis.

    Aliquam dignissim quis sapien in rutrum. Aliquam ultricies tempor ligula non molestie. Curabitur mollis,
    mauris in aliquet mattis, mi magna lacinia ipsum, nec commodo arcu lacus id lectus. Nam sed turpis commodo,
    eleifend sapien a, efficitur mi. Sed eget nunc sem. Nullam ac neque tincidunt, interdum lacus vitae, mattis tortor.
    Nam massa nisi, laoreet ac orci in, molestie aliquam sapien. Vestibulum fermentum nisi fermentum libero volutpat
    molestie at non augue. Phasellus accumsan vel purus vel fringilla. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Morbi interdum, arcu vitae semper lacinia, odio eros lacinia libero, ut sagittis
    sem nunc vitae urna. Mauris congue ultricies nunc, non sodales neque interdum at. Maecenas feugiat porttitor accumsan.

    Proin ut eros in diam finibus faucibus. Nulla tincidunt ornare massa, id sodales purus finibus et. Nulla vitae aliquam mi.
    Nullam mollis feugiat velit, vitae vestibulum tortor euismod ac. Vivamus eu porttitor lectus. Nunc sagittis purus sit amet purus
    fermentum dapibus. Praesent aliquam metus libero, quis eleifend tortor blandit id. In eu auctor leo.
    Integer mattis lacus eget auctor venenatis. Nam pulvinar, nulla vitae consectetur sodales, tellus mi semper risus,
    ac luctus dui metus quis sapien. Fusce eget lectus at nisi placerat consequat. Nunc tincidunt orci in
</p>
<button class="center-block btn btn-primary" [routerLink]="['/Countries']">Browse Countries</button>
