<table class="table">
    <thead class="center">
        <tr class="center">
            <th>Name</th>
            <th>Country Code</th>
            <th>Capital</th>
            <th>Area in km<sup>2</sup></th>
            <th>Population</th>
            <th>Continent</th>
        </tr>
    </thead>
    <tbody class="">
        <tr>
            <td>Country Name</td>
            <td>Country Code</td>
            <td>Capital Name</td>
            <td>Area</td>
            <td>Country Population</td>
            <td>Contienent Name</td>
        </tr>
    </tbody>
</table>
<button class="center-block btn btn-primary" [routerLink]="['/App']">Home</button>