#countriesTableContainer{
    max-height: 300px;
    overflow: auto;
}
#countriesTable{
}
#countriesTable td{
    text-align: center;
}
#countriesTable tr:hover{
    background-color: #dcdcdc;
    cursor: pointer; 
}